

os: linux
dist: xenial

# Project JDK
language: java
jdk:
  - openjdk11
  
addons:
  sonarcloud:
    organization: "susolopolis" # the key of the org you chose at step #3
    token:
      secure: $SONAR_TOKEN # encrypted value of your token
      
  apt:
    packages:
      - doxygen
script:
  # other script steps might be done before running the actual analysis
 - mvn clean verify sonar:sonar -Pcoverage -Dsonar.login=84350fe6a3e3b577c66d5e3aefe27e64e529baf6
 - doxygen Doxyfile

deploy:
  provider: pages
  skip_cleanup: true
  local_dir: docs/html
  github_token: $GH_REPO_TOKEN
  on:
    branch: main
